<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a data scientist passioniate about solving problems in an</p>
      </div>
      <div class="col-lg-4">
        <p>No project is too big or too small! Wehther you are new to data science and are looking for a tutor, or you work for a large corporation interesting i
          n data science integration withiin your operations, I am here to help. Contact me for rates! </p>
      </div>
        </a>
      </div>
    </div>
  </div>
</section>
