<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        As a Data Scientist, clients can anticipate a wealth of expertise and knowledge directed towards their next data problem, complemented by a strong background in Economics and Operations Research. This multi-disciplinary knowledge enables a unique blend of analytical approaches towards complex data-driven challenges with strategic insights, facilitating well-informed decision-making and driving innovative solutions.      </div>
      <div class="col-lg-4">
        <p>Potential clients can feel free to reach out with any questions. If it is determined that I may not have the necessary expertise to address your specific question or problem, I will be happy to provide assistance in connecting you with the appropriate expert. </p>
      </div>
        </a>
      </div>
    </div>
  </div>
</section>
