<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Data Scientist with additional backgrounds in the domains of Economics and Operations Research.</p>
      </div>
      <div class="col-lg-4">
        <p>Please contact me with me your questions. If we come to the conlusion that I am not qualified for 
          answering your question or solving your problem, I will help you find the right expert. </p>
      </div>
        </a>
      </div>
    </div>
  </div>
</section>
