<!-- About Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Services</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Data Science Support</p>
      </div>
      <div class="col-lg-4">
        <p>Data Analytics </p>
      </div>
      <div class="col-lg-4">
        <p>Data Consulting </p>
      </div>
        </a>
      </div>
    </div>
  </div>
</section>
